<!-- OpenId Authorization Screen -->
<oid-modal id="OpenIdInfo">
  <div style="text-align: center;">
    <div class="logo"><img src="assets/reclaim_icon.png"/></div>
    <hr>
    <span *ngIf="clientNameFound === undefined">
      <i class="fa fa-2x fa-circle-o-notch fa-spin fa-fw"></i> 
      <b class="fa-2x"> Verifying request, please stand by...</b>
    </span>
    <span *ngIf="clientNameFound">
      <i class="fa fa-2x fa-openid"></i> 
      <b class="fa-2x"> Authorization Request </b>
    </span> 
    <span *ngIf="clientNameFound !== undefined && !clientNameFound">
      <b class="fa-2x"> Authorization failed. </b>
    </span>
    <br/> 
  </div>
  <div *ngIf="clientNameFound"><strong>"{{ clientName }}"</strong>
    asks you to share personal information.<br/>
    Choose an identity to let it access the following self attested attributes:
  </div>
  <ul *ngIf="clientNameFound">
    <li *ngFor="let attribute of getScopes()"><strong>{{attribute}}</strong>
  </ul>
  <div *ngIf="clientNameFound">
    as well as the following third party attested attributes:
  </div>
  <ul *ngIf="clientNameFound">
    <ng-container *ngFor="let reference of getRefScope()">
      <li *ngIf="reference[1] === true"><strong>{{reference[0]}}</strong>
      <li *ngIf="reference[1] !== true"><strong>{{reference[0]}} (optional)</strong>
    </ng-container>  
  </ul>
  <div *ngIf="clientNameFound" style="text-align: center;">
    <button class="btn btn-danger m-1 mt-4" *ngIf="clientNameFound" (click)="cancelRequest(); closeModal('OpenIdInfo');" style="margin-bottom: -4%;">
      <span class="fa fa-ban"></span> Decline
    </button>
    <button class="btn btn-primary m-1 mt-4" *ngIf="clientNameFound" (click)="closeModal('OpenIdInfo');">
      <span class="fa fa-arrow-circle-right"></span> Select identity...
    </button>
  </div>
  <div *ngIf="clientNameFound !== undefined && !clientNameFound" style="text-align: center;">
    <button class="btn btn-primary mt-4" *ngIf="!clientNameFound" (click)="getClientName();">
      <span class="fa fa-openid"></span> Retry
    </button>
  </div>
  <div *ngIf="clientNameFound === undefined" style="text-align: center;">
    <button class="btn btn-danger mt-4" *ngIf="clientNameFound === undefined" (click)="cancelRequest(); closeModal('OpenIdInfo');">
      <span class="fa fa-ban"></span> Cancel verification request
    </button>
  </div>
</oid-modal>

<!-- GNUnet not running -->
<oid-modal id="GnunetInfo">
  <div class="logo"><img src="assets/reclaim_icon.png"/></div>
  <hr>
  <div style="text-align: center; font-size: 18px;">
    <strong> Unable to connect to GNUnet. <br/> Maybe it is not running? </strong>
  </div>
</oid-modal>

<!-- Buttons -->
<div *ngIf="canSearch()"  style="margin-top: 1em; text-align: center;">
  <!-- Identity search -->
  <form class="form-inline" style="display: table; margin: auto;">
    <div class="search-wrapper">
    <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search identities" style="border-radius: 2em;">
    </div>
  </form>
  <br/>
</div>

<!-- Cancel authorization -->
<div style="margin-bottom: 1em; text-align: center;">
  <button *ngIf="inOpenIdFlow() && !isAddIdentity() && (null == identityInEdit) && clientNameFound" class="btn btn-danger mt-2" (click)="cancelRequest()">
    <span class="fa fa-ban"></span> Decline authorization request
  </button>
</div>

<!-- error infos -->
<div *ngFor="let err of errorInfos" class="alert alert-danger show" role="alert">
  <b>ERROR</b>
  <button class="btn btn-primary ml-4" (click)="errorInfos.splice(errorInfos.indexOf(err,0), 1)">
    <span>Dismiss</span>
  </button>
  <br/>
  {{err}}
</div>

<!-- No identities present -->
<div *ngIf="isConnected() && 0 == identities.length && !isAddIdentity()" style="text-align: center;" class="alert alert-secondary alert-dismissible fade show" role="alert">
  You don't have any identities yet.<br/><br/>
  <button class="btn btn-primary" (click)="addIdentity()">
    <span class="fa fa-plus"></span> Add your first identity!
  </button>
</div>

<!-- Identity edit screen -->
<div class="m-2 card" *ngIf="(null != identityInEdit) && !isAddIdentity()">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Manage identity: <i>{{ identityInEdit.name }}</i>
    </div>
  </div>
  <!-- Attribute table -->
  <div class="card-body">
    <div>
      <h6 class="card-subtitle mb-2">Self Attested Attributes:</h6>
      <!-- Missing attributes -->
      <table class="table pb-1" *ngIf="isAttributeMissing(identityInEdit)">
        <thead>
          <tr>
              <th>Attribute Name</th>
              <th>Attribute Value</th>     
          </tr>
        </thead>
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.alert-danger]="newAttribute.name === missing.name" class="text-primary" *ngFor="let missing of missingAttributes[identityInEdit.pubkey]">
            <td><div style="min-width: 15em">{{missing.name}}</div></td>
            <td>
              <input placeholder="Value" [(ngModel)]="missing.value">
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Requested attributes -->
      <table class="table pb-1" style="">
        <thead *ngIf="!isAttributeMissing(identityInEdit)">
          <tr>
              <th>Attribute Name</th>
              <th>Attribute Value</th>     
          </tr>
        </thead>
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.text-primary]="isRequested(identityInEdit, attribute)" [class.alert-danger]="newAttribute.name === attribute.name" [class.text-secondary]="hasFlag(attribute)" *ngFor="let attribute of attributes[identityInEdit.pubkey]">
            <td><div style="min-width: 15em">{{attribute.name}}</div></td>
            <td>
              <input placeholder="Value" *ngIf="!hasFlag(attribute)" [(ngModel)]="attribute.value">
              <div *ngIf="hasFlag(attribute)">{{attribute.value}} </div>
            </td>
            <td>
              <button class="btn btn-primary" *ngIf="!hasFlag(attribute)" (click)="deleteAttribute(attribute)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <tr [class.alert-danger]="isInConflict(identityInEdit,newAttribute)">
            <td>
              <input [class.text-danger]="!attributeNameValid(identityInEdit,newAttribute)" placeholder="Attribute" [(ngModel)]="newAttribute.name">
            </td>
            <td>
              <input placeholder="Value" [class.text-danger]="!attributeValueValid(newAttribute)" [(ngModel)]="newAttribute.value">
            </td>
            <td>
              <button [disabled]="!canAddAttribute(identityInEdit,newAttribute)" class="btn btn-primary"  (click)="addAttribute(newAttribute)">
                <span class="fa fa-plus"></span> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Attribute creation warning -->
    <div *ngIf="!attributeNameValid(identityInEdit,newAttribute) || !attributeValueValid(newAttribute)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attribute names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Attribute values may not be empty!</li>
      </ul>
    </div>
    <div>
      <button class="btn btn-primary" (click)="toggleShowRef(identityInEdit) || isReferenceMissing(identityInEdit)" [style.float]="'right'">
        <span *ngIf="identityInEdit == showReferenceMan"> Hide</span>
        <span *ngIf="identityInEdit != showReferenceMan"> Show</span> 
        reference management
      </button>
    </div>
    <div style="margin-top: 1.5em;" *ngIf="identityInEdit == showReferenceMan">   
      <h6 class="card-subtitle mb-2">Third-Party Attested Attributes:</h6>
      <!-- Missing references -->
      <table class="table pb-1" *ngIf="isReferenceMissing(identityInEdit)">
        <thead>
          <tr>
              <th>Attribute Name</th>
              <th>Attribute Value</th>
              <th>Attestation ID</th>        
          </tr>
        </thead>
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.alert-danger]="newReference.name === missing.name" class="text-primary" *ngFor="let missing of missingReferences[identityInEdit.pubkey]">
            <td><div style="min-width: 15em">{{missing.name}}</div></td>
            <td>
              <select *ngIf="missing.ref_id !== ''" (change)="missing.ref_value=$event.target.value">
                <option value="">Select a Claim</option>
                <option *ngFor="let claim of objectKeys(attestation_val[identityInEdit.pubkey][missing.ref_id])" value={{claim}}>
                  {{claim}}
                </option>
                <option value="">{{attestation_val[identityInEdit.pubkey][missing.ref_id]['iss']}}</option>
              </select>
            </td>
            <td>
            <select (change)="missing.ref_id=$event.target.value; ">
              <option value="">Select an Attestation</option>
              <option *ngFor="let attest of attestation[identityInEdit.pubkey]" value={{attest.id}}>
                {{attest.name}}
              </option>
            </select>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Requested references -->
      <table class="table pb-1" style="">
        <thead *ngIf="!isReferenceMissing(identityInEdit)">
          <tr>
              <th>Attribute Name</th>
              <th>Attribute Value</th>
              <th>Attestation ID</th>        
          </tr>
        </thead>
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.text-primary]="isRefRequested(identityInEdit, reference)" [class.text-secondary]="isoptRefRequested(identityInEdit, reference)" [class.alert-danger]="newReference.name === reference.name" [class.alert-warning]="!isAttestationValid(reference.ref_id,identityInEdit)" *ngFor="let reference of references[identityInEdit.pubkey]">
            <td><div style="min-width: 15em">{{reference.name}}</div></td>
            <td>
              <input placeholder="Claim Name Attest" [(ngModel)]="reference.ref_value">
            </td>
            <td>
              <input placeholder="Attestation ID" [(ngModel)]="reference.ref_id">
            </td>
            <td>
              <button class="btn btn-primary"  (click)="deleteReference(reference)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
            <td>
              <div *ngIf= "isAttestationValid(reference.ref_id, identityInEdit)"> Valid Reference <span class="fa fa-check"></span> </div>
              <div *ngIf= "!isAttestationValid(reference.ref_id, identityInEdit)"> <span style="color:#f00"> Expired Attestation </span><span class="fa fa-times"></span> </div>
            </td>
          </tr>
          <tr [class.alert-danger]="isRefInConflict(identityInEdit,newReference)">
            <td>
              <input [class.text-danger]="!referenceNameValid(identityInEdit,newReference)" placeholder="Reference" [(ngModel)]="newReference.name">
            </td>
            <td>
              <select *ngIf="newReference.ref_id !== ''" (change)="newReference.ref_value=$event.target.value">
                <option value="">Select a Claim</option>
                <option *ngFor="let claim of objectKeys(attestation_val[identityInEdit.pubkey][newReference.ref_id])" value={{claim}}>
                  {{claim}}
                </option>
                <option value="">{{attestation_val[identityInEdit.pubkey][newReference.ref_id]['iss']}}</option>
              </select>
            </td>
            <td>
            <select (change)="newReference.ref_id=$event.target.value; ">
              <option value="">Select an Attestation</option>
              <option *ngFor="let attest of attestation[identityInEdit.pubkey]" value={{attest.id}}>
                {{attest.name}}
              </option>
            </select>
            </td>

            <td>
              <button [disabled]="!canAddReference(identityInEdit,newReference)" class="btn btn-primary"  (click)="addReference(newReference)">
                <span class="fa fa-plus"></span> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- optional attributes information -->
    <div *ngIf="getOptional(identityInEdit).length !== 0" class="text-primary">
      <span class="fa fa-openid"></span> Optionally requested is also:
      <ul>
        <li *ngFor="let reference of getOptional(identityInEdit)"><strong>{{reference}}</strong>
      </ul>
    </div>
    <!-- Reference creation warning -->
    <div *ngIf="!referenceNameValid(identityInEdit,newReference) || !referenceValueValid(newReference) || !referenceIDValid(newReference)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric reference names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Ids and values may not be empty!</li>
      </ul>
    </div>
    <div>
      <button class="btn btn-primary" (click)="toggleShowAttest(identityInEdit)" [style.float]="'right'">
        <span *ngIf="identityInEdit == showAttestationMan"> Hide</span>
        <span *ngIf="identityInEdit != showAttestationMan"> Show</span> 
        attestation management
      </button>
    </div>
    <div style="margin-top: 1.5em;" *ngIf="identityInEdit == showAttestationMan">
      <h6 class="card-subtitle mb-2">Attestations:</h6>
      <!-- Requested attestation -->
      <table class="table pb-1" style="">
        <thead>
          <tr>
              <th>Attestation Name</th>
              <th>Attestation Type</th>
              <th>Attestation Value</th>
              <th>Issuer</th>         
              <th>Attestation ID</th>         
          </tr>
        </thead>
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.alert-danger]="newAttestation.name === attestation.name" [class.alert-warning]="!isAttestationValid(attestation.id, identityInEdit)" *ngFor="let attestation of attestation[identityInEdit.pubkey]">
            <td><div style="min-width: 15em">{{attestation.name}}</div></td>
            <td>
              <div>{{attestation.type}}</div>
            </td>
            <td>
              <input placeholder="Attestation Value" [(ngModel)]="attestation.value">
            </td>
            <td><div style="min-width: 15em">{{attestation_val[identityInEdit.pubkey][attestation.id]['iss']}}</div></td>
            <td><div style="min-width: 15em">{{attestation.id}}</div></td>
            <td>
              <button class="btn btn-primary"  (click)="deleteAttestation(attestation)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
            <td>
              <div *ngIf= "isAttestationValid(attestation.id, identityInEdit)"> Valid <span class="fa fa-check"></span> </div>
              <div *ngIf= "!isAttestationValid(attestation.id, identityInEdit)"> <span style="color:#f00"> Expired </span> <span class="fa fa-times"></span> </div>
            </td>
          </tr>
          <tr [class.alert-danger]="isAttestInConflict(identityInEdit,newAttestation)">
            <td>
              <input [class.text-danger]="!attestationNameValid(identityInEdit,newAttestation)" placeholder="Attestation" [(ngModel)]="newAttestation.name">
            </td>
            <td>
              <input placeholder="Type [JWT]" [class.text-danger]="!attestationTypeValid(newAttestation)" [(ngModel)]="newAttestation.type">
            </td>
            <td>
              <input placeholder="Attestation Value" [class.text-danger]="!attestationValueValid(newAttestation)" [(ngModel)]="newAttestation.value">
            </td>
            <td>
              <button [disabled]="!canAddAttestation(identityInEdit,newAttestation)" class="btn btn-primary"  (click)="addAttestation(newAttestation)">
                <span class="fa fa-plus"></span> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button style="background-color:#4267B2; margin:5px; border:none; color:white" (click)="addExampleAttestation()">Receive Example Attestation</button>
    </div>
    <!-- Attestation creation warning -->
    <div *ngIf="!attestationNameValid(identityInEdit,newAttestation) || !attestationTypeValid(newAttestation) || !attestationValueValid(newAttestation)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attestation names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Types and values may not be empty!</li>
      </ul>
    </div>
    <div class="logo"><img src="assets/reclaim_icon.png"/></div>
    <div>
      <button class="btn btn-primary" (click)="saveIdentityValues(identityInEdit)" [disabled]="!canSaveIdentity(identityInEdit)">
        <span class="fa fa-save"></span> Save and Back
      </button>
      <button class="btn btn-primary" (click)="discardIdentity(identityInEdit)">
        <span class="fa fa-undo"></span> Discard and Back
      </button>
    </div>
    <!-- Authorized entities -->
    <div style="margin-top: 1.5em;">
      <table class="table pb-1" *ngIf="identityInEdit == showTicketsIdentity">
        <thead style="border-top-style: hidden">
          <tr>
            <th scope="col">
              <h6 class="card-subtitle mb-2" *ngIf="identityInEdit == showTicketsIdentity">
                Authorized Entities:
              </h6>
            </th>
            <th scope="col">
              <h6 class="card-subtitle mb-2" *ngIf="identityInEdit == showTicketsIdentity">
                Shared attributes:
              </h6>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets[identityInEdit.pubkey]">
            <td>
              <div style="min-width: 15em">
                {{getAudienceName(ticket)}}
              </div>
            </td>
            <td>
              <div style="min-width: 15em">
                {{ticketAttributeMapper[ticket.audience]}}
              </div>
            </td>
            <td>
              <button class="btn btn-primary" *ngIf="showConfirmRevoke != ticket" (click)="confirmRevoke(ticket)">
                <span class="fa fa-unlink"></span> Revoke
              </button>
              <div class="alert alert-danger fade show" *ngIf="showConfirmRevoke == ticket">
                Do you really want to revoke this authorization?<br/><br/>
                <button class="btn btn-primary m-2" (click)="revokeTicket(identityInEdit, ticket)">
                  <span class="fa fa-check"></span> Yes
                </button>
                <button class="btn btn-primary m-2" (click)="hideConfirmRevoke()">
                  <span class="fa fa-close"></span> No
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Edit card buttons -->
    <div>
        <button *ngIf="(0 < tickets[identityInEdit.pubkey]?.length) && !inOpenIdFlow()" class="btn btn-primary" (click)="toggleShowTickets(identityInEdit)" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        <span *ngIf="identityInEdit == showTicketsIdentity"> Hide</span>
        <span *ngIf="identityInEdit != showTicketsIdentity"> Show</span> 
        authorizations
      </button>
    </div>
  </div>
</div>

<!-- Identity cards -->
<!-- No match -->
<div *ngIf="canSearch()">
  <div *ngIf="(identities | search: searchTerm).length == 0" style="text-align: center;" class="alert alert-secondary alert-dismissible fade show" role="alert">No matching identities.</div>
</div>
<!-- Cards -->
<div class="card-columns p-2" *ngIf="(null == identityInEdit) && !isAddIdentity()">
  <div class="card" *ngFor="let identity of identities | search: searchTerm">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
        <!--<div class="icon m-1 text-uppercase" [style.background-color]="intToRGB(identity.pubkey)">{{ identity.name[0]}}</div>-->
        <i class="fa fa-user-circle"></i>
        <span class="m-1" style="display: inline-block"><i> {{identity.name}}</i></span>
        <button class="btn btn-primary" *ngIf="showConfirmDelete != identity" (click)="confirmDelete(identity)">
          <span class="fa fa-trash"></span>
        </button>
        <button class="btn btn-primary" *ngIf="showConfirmDelete != identity" (click)="editIdentity(identity)">
          <span class="fa fa-edit"></span>
        </button>
      </div>
    </div>
    <div class="alert alert-danger fade show" *ngIf="showConfirmDelete == identity">
      Do you really want to delete this identity?<br/><br/>
      <button class="btn btn-primary" (click)="deleteIdentity(identity)">
        <span class="fa fa-trash"></span> Delete
      </button>
      <button class="btn btn-primary" (click)="hideConfirmDelete()">
        <span class="fa fa-close"></span> Cancel
      </button>
    </div>
    <div class="alert alert-secondary fade show" *ngIf="!hasAttributes(identity)">
      This identity has no attributes. Maybe try <a class="buttonlink" (click)="editIdentity(identity)">adding some?</a>
    </div>
    <div *ngIf="isAttributeMissing(identity) || isReferenceMissing(identity)" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span class="fa fa-openid"></span> This identity cannot be used because it's missing requested data: 
      <ul>
        <li *ngFor="let attr of getMissing(identity)">{{attr}}</li>
        <li *ngFor="let ref of getOptional(identity)">{{ref}}(optional)</li>
      </ul>
      <button class="btn btn-primary" (click)="editIdentity(identity)">
        <span class="fa fa-plus"></span> Add
      </button>
    </div>
    <div *ngIf="isReqReferenceInvalid(identity)" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span class="fa fa-openid"></span> This identity cannot be used because one or more references are invalid.
      <button class="btn btn-primary" (click)="editIdentity(identity)">
        <span class="fa fa-pencil-square-o"></span> Edit
      </button>
    </div>
    <div *ngIf="(0 < requestedReferences[identity.pubkey]?.length) && inOpenIdFlow()" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span class="fa fa-openid"></span> Please mind, that sharing references might disclose additional information stored in the attestation. 
    </div>
    <div class="card-body">
      <!-- Attribute table --> 
      <div>
        <h6 class="card-subtitle mb-2" *ngIf="hasAttributes(identity)">
          <strong>Information:</strong>
        </h6>
        <table class="table pb-1">
          <tbody>
            <tr [class.openid]="inOpenIdFlow()" [class.text-primary]="isRequested(identity, attribute) || isAttrRefRequested(identity, attribute)" 
                [class.text-secondary]="!isAttrRefRequested(identity, attribute) && hasFlag(attribute)"
               [class.alert-danger]="newAttribute.name === attribute.name" *ngFor="let attribute of attributes[identity.pubkey]">
              <td>
                <div style="min-width: 15em"><span *ngIf="isRequested(identity, attribute) || isAttrRefRequested(identity, attribute)" class="fa fa-openid"></span>{{attribute.name}}</div>
              </td>
              <td>
                <div *ngIf="attribute.value.length <= 20" style="min-width: 15em">{{attribute.value}}</div>
                <div *ngIf="attribute.value.length > 20" style="min-width: 15em">{{attribute.value.substring(0, 15)}}<span style="color:#eee">[...]</span></div>
              </td>
            </tr>
          </tbody>
        </table>
        <h6 class="card-subtitle mb-2" *ngIf="hasAttestation(identity)">
          <strong>Attestations:</strong>
        </h6>
        <table class="table pb-1">
          <tbody>
            <tr [class.openid]="inOpenIdFlow()"
               [class.alert-danger]="newAttestation.name === attestation.name" *ngFor="let attestation of attestation[identity.pubkey]">
              <td>
                <div style="min-width: 15em"> {{attestation.name}}</div>
              </td>

              <td>
                <div *ngIf="attestation.value.length <= 20" style="min-width: 15em">{{attestation.value}}</div>
                <div *ngIf="attestation.value.length > 20" style="min-width: 15em">{{attestation.value.substring(0, 15)}}<span style="color:#eee">[...]</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-bottom: 1em" *ngIf="(0 < attributes[identity.pubkey]?.length) && inOpenIdFlow()" class="text-primary">
        Only attributes marked with <span class="fa fa-openid" ></span> will be shared.
      </div>
      <div>
        <div>
          <button *ngIf="canAuthorize(identity)" [disabled]="!inOpenIdFlow() || isReferenceMissing(identity) || isAttributeMissing(identity) || !clientNameFound || isReqReferenceInvalid(identity)" (click)="loginIdentity(identity)" class="btn btn-primary mr-1 openid-login">
            <span *ngIf="clientNameFound"><i class="fa fa-openid"></i> Share from this identity</span>
            <span *ngIf="!clientNameFound"><i class="fa fa-exclamation-circle"></i> Sharing disabled</span>
          </button>
        </div>
      </div>
      <div style="text-align:center">
        <img src="assets/reclaim_icon.png" style="width: 5em;opacity: 0.3;">
      </div>
    </div>
  </div>

  <!-- New identity card -->
  <div class="card identity-new" (click)="addIdentity()" *ngIf="0 != identities.length && !isAddIdentity()">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
        <!--<div class="icon m-1 text-uppercase" [style.background-color]="intToRGB(identity.pubkey)">{{ identity.name[0]}}</div>-->
        <i class="fa fa-user-circle"></i>
        <span class="m-1" style="display: inline-block"><i> New Identity</i></span>
      </div>
    </div>
    <div class="card-body">
      <div style="text-align:center" class="mb-4">
        <i>Click to add a new identity.</i>
      </div>
      <div style="text-align:center">
        <img src="assets/reclaim_icon.png" style="width: 5em;opacity: 0.3;">
      </div>
    </div>
  </div>
</div>

<!-- Identity creation -->
<div *ngIf="isAddIdentity()" class="m-2 card" style="text-align:center;">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Add Identity        
    </div>
  </div>
  <!-- Invalid input -->
  <div *ngIf="'' !== newIdentity.name && !canSave() && !isDuplicate()" class="alert alert-danger alert-dismissible fade show" role="alert">
    Only Alphanumeric input. No spaces or special characters allowed.
  </div>
  <!--Identity already exists -->  
  <div *ngIf="isDuplicate()" class="alert alert-warning alert-dismissible fade show" role="alert"> 
    An identity with this username already exists.
  </div>
  <!-- Input text -->
  <div *ngIf="'' === newIdentity.name || canSave()" class="alert alert-secondary alert-dismissible fade show" role="alert">
    Enter a username for your new identity
  </div>
  <div class="card-body">
    <input [class.text-danger]="'' !== newIdentity.name && !canSave()" style="text-align: center; border: 1px solid #111;" (keyup.enter)="saveIdentity()" pattern="^[a-zA-Z0-9-]+" placeholder="Username" title="Only Alphanumeric input. No spaces or special characters allowed." class="mr-2" [(ngModel)]="newIdentity.name" autofocus>
    <br/>
    <br/>
    <button [disabled]="!canSave()" [style.inactive]="!canSave()"  class="-1 btn btn-primary" (click)="saveIdentity()">
      <span class="fa fa-save"></span> Save
    </button>
    <button class="m-1 btn btn-danger" (click)="cancelAddIdentity()">
      <span class="fa fa-close"></span> Cancel
    </button>
  </div>
</div>

