
@font-face {
  font-family: 'Audiowide';
  src: url('assets/Audiowide-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-size: 32px;
  text-align: center;
  padding: 0.25em;
}

.logo img {
    width: 200px;
}
